body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    background: linear-gradient(120deg, #f6d365, #fda085);
}


#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}


#box1 {
    /* border: 1px solid black; */
    /* flex-basis: 40%; */
    width: 400px;
    /* max-width: 400px; */
    
    
}

#board-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* flex-basis: 60%; */
    max-width: 800px;
    /* border: 1px solid green; */
    
    /* height: 863px; */
    /* background-color: hsl(236, 93%, 62%); */
    
}


#board {
    /* position: relative; */
    /* max-width: 1024px; */
    
    /* border: 1px solid orange; */
    
    /* margin-right: 40px; */
    /* background: url("./assets/board.jpg") no-repeat; */
    /* border: 1px solid blue;  */
    
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}


#board-Y-coord {
    /* flex-direction: row; */
    margin-top: 20px;
    margin-left: 15px;
    
}

.Y-coord {
    width: 30px;
    height: 68px;
    border: 1px solid transparent;
    /* border-spacing: 4px; */
    text-align: center;
    line-height: 85px;
    /* padding-top: 45px; */
    /* border: 1px solid brown; */
    font-weight: bold;
    font-size: 26px;
}

#board-X-coord {
    display: flex;
    flex-direction: row;
    /* justify-content: end; */
    margin-top: 4px;
    margin-left: 50px;
}

.X-coord {
    width: 84px;
    height: 30px;
    border: 1px solid transparent;
    padding: 1px; 
    text-align: center;
    /* line-height: 105px; */
    /* padding-top: 45px; */
    /* border: 1px solid brown; */
    font-weight: bold;
    font-size: 26px;
    
}


#title {
    margin-top: 10px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: hsl(235, 76%, 23%);

}

#messageArea {
    visibility: hidden;
    min-height: 40px;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    margin: 80px auto 0px auto;
    color: whitesmoke;
    border-radius: .1em;
    border: 0px;
    background: #d31027;
    background: linear-gradient(to right, #ec7e4b, #e6500b);
    background: -webkit-linear-gradient(to right, #ea384d, #d31027);
    /* background: linear-gradient(120deg, #fda085, #f6d365); */
    
}

.isVisible {
    animation: shake .9s ease-in;
}


@keyframes shake {
    0% {
        transform: translate(0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(.4em);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    }

    10%,
    30%,
    50% {
        transform: translate(-.2em);
    }

    70%,
    100%{
        transform: translate(0);
    }
}

table {
    /* position: absolute;
    left: 173px;
    top: 96px; */
    margin-top: 20px;
    margin-left: 5px;
    border-spacing: 0px;
    /* border: 2px solid hsl(235, 80%, 16%); */
    /* border-radius: 4px; */
}

td {
    width: 84px;
    height: 66px;
    border: 1px solid hsl(235, 76%, 23%);
    background-color: hsl(235, 63%, 41%);
    border-radius: 4px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    margin: 20px auto;
    padding: 2px;
    border-radius: 4px;
    
}

#guessInput {
    width: 94px;
    height: 30px;
    padding: 4px;
    margin-top: 10px;
    background-color: #52504f;
    border: 2px solid #797777;
    border-radius: 500px;
    font-size: 26px;
    color: whitesmoke;
    text-align: center;
}

input[type="text"]::placeholder { 
    color: rgba(245, 217, 217, 0.692);
    color: whitesmoke;
    text-align: center;
}

input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */ 
    text-align: center;
}

#fireButton {
    margin-top: 12px;
    width: 94px;
    padding: 6px;
    color: rgb(215, 243, 245);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    /* background-color: hsl(355, 91%, 25%); */
    background: linear-gradient(90deg, rgb(180, 45, 45), rgb(197, 143, 143), rgb(153, 20, 20));
    background-repeat: no-repeat;
    /* background-size: 85%; */
    /* animation: animate 3s linear infinite; */
    border: 1px solid rgb(148, 4, 4);
    /* border: 1px solid linear-gradient(90deg, rgb(148, 4, 4), rgb(197, 143, 143), rgb(148, 4, 4));; */
    border-radius: 999px;
}

#fireButton:hover {
    background-size: 78%;
    animation: animate 3s linear infinite;
    cursor: pointer;
}


#clock {
    width: 120px;
    margin: 40px auto 0 auto;
    text-align: center;
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
}

.addAnimate {
    font-size: 26px !important;
    font-weight: bold !important;
    animation-name: addTime;
    animation-duration: 2s;
    animation-delay: 150ms;
}
@keyframes addTime {
    0% {color: green;}
}

.minusAnimate {
    font-size: 26px !important;
    font-weight: bold !important;
    transform: scale(1.12);
    animation-name: minusTime;
    animation-duration: 5s;
    animation-delay: 150ms;
}
@keyframes minusTime {
    0% {color: red;}
}

#restart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 400px;
    margin-top: 174px;
}

#restart-btn { 
    width: 90px;
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(215, 243, 245);
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(120deg, rgb(135, 243, 162), rgb(11, 170, 64));
    border: 1px solid rgb(56, 235, 86);
    border-radius: 999px;
    /* animation: shake .8s ease-in; */
}

#restart-btn:hover {
    background-size: 45%;
    animation: animate 10s linear infinite;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button[type="button"]:focus {
    outline: none;
}


@keyframes animate {
    
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}





.hit {
    /* background: url("./assets/ship.png") no-repeat center center; */
    background: url("../assets/shipwreck.png") no-repeat center center;
}

.miss {
    /* background: url("./assets/miss.png") no-repeat center center; */
    background: url("../assets/sea.png") no-repeat center top;
}



